form  {
    display: table;
 }
p{
    /*margin-left: 50px;*/
    display: table-row;
}
label {
    width:40px;
    padding-right: 10px;
    display: table-cell; }
input {
    width: 140px;
    display: table-cell; }
select{
    width: 140px;
    display: table-cell;
}